@import '//fonts.googleapis.com/css?family=Muli:400,700,900';
html,
body {
  overflow: hidden;
}

body {
  background: linear-gradient(0, #141927, #2c364f);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #fff;
}

body * {
  box-sizing: border-box;
}
